body{
  margin: 0;
  text-align: center;
  font-family:"Merriweather",serif;
}
h1{
  margin: 50px auto 0 auto;
  font-family: "Sacramento",cursive;
  color: #66BFBF;

  line-height: 2;
}
h2{
  font-family: "Montserrat",sans-serif;
  color: #66BFBF;

}
h3{
    font-family: "Montserrat",sans-serif;
    color: #11999E;
}
a{
  color:#11999E;
}
.Programmer{
  color: #66BFBF;
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  line-height: 2;
}
.top-container{
  background-color: #E4F9F5;
}
.middle-container{
    background-color: #E4F9F5;
}
.bottom-container{
    background-color: #E4F9F5;
}
.pro{
  font-weight: bold;
}
.top-cloud{
  position:relative;
  left: 20%;
}
.bottom-cloud{
  position:absolute;
  left: 30%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}
.shubham{
  height: 250px;
  width: 250px;
  margin: 100px auto 50px auto;
}
.code-img{
  width: 25%;
  float: left;
margin-right: 30px;
}
.chilli-img{
float: right;
  width: 25%;
    margin-left: 30px;
}
